*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 70px;
    width: 100%;
    height: 100vh;

}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.header-search {
    position: relative;
    display: flex;
    align-items: center;
}

.header-search input {
    background-color: #f7f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    width: 550px;
    transition: all 0.3s ease;
}

.header-search input:focus {
    border-color: #e5a329;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-search input::placeholder {
    color: #666;
}
.header-search i{
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    right: 15px;
}

.header-search input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .header-search input {
        width: 100%;
    }
}

.logo img{
    margin-top: 10px;
    height: 80px;
    width: 230px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

header li a{
    text-decoration: none;
    color: rgba(24, 24, 23, 0.734);
    font-weight: 600;
    font-size: 17px;
}
header li a:hover {
    color: #611915;
    border-bottom:  0.1em solid #f9aa18;
}

.genre-container{
    position: relative;
}

.genre-bar {
    background-color: #f5f5f5; 
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .genre-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  .genre-bar ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #333333de; 
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .genre-bar ul li a:hover {
    color: #e5a329; 
    text-decoration: none;
  }


  .offer-banner {
    background-color: rgb(104, 17, 17);
    color: rgb(250, 212, 123);
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: color 0.3s ease;

}

.offer-banner:hover{
    color: #fff713;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%; 
    height: 350px; 
    overflow: hidden; 
    margin: auto;
  }

  .carousel {
    display: flex; 
    transition: transform 0.7s ease-in-out;
    height: 100%; 
  }

 
.slide {
    flex: 0 0 100%; 
    height: 100%;
  }
  
  .slide img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption a{
    position: absolute;
    bottom: 20px;
    left: 400px;
    color: white;
    background: rgba(115, 44, 44, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  

.row{
    background-image: url(/wallpaper/25-FINAL-FINAL.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.section-left,
.section-right {
    flex: 1;
    padding: 20px;
}

.section-left,.section-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

.row h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 100px;
}

.row h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(96, 12, 12);
    margin-bottom: 20px;
    margin-left: 100px;}

.row p{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 100px;
}

.section-left button {
    margin-bottom: 20px;
    margin-left: 100px;
    width: 120px;
    border-radius: 20px;
    border: 1px solid #ffd900;
    background-color: #d4a555;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}
.section-left button:hover{
    background-color: #d4a555;
    color: rgb(85, 72, 2);
}

label {
    display: block;
    text-align: center;
}

.fading-line{
    width:100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #00000023, transparent);
    margin: 50px;
}
 
.filter {
    width: 100%;
    margin: 30px 130px;
    display: flex;
    justify-content: left;
    align-items: left;
}
 .filter button {
     display: block;
    text-align: center;
    width: 10%;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #5b1515cc;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}
.filter button:hover{
    background-color: #d09f50;
    color: rgb(255, 255, 255);
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 10px;
    }

    .logo {
        font-size: 20px; 
    }

    ul {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .search-field {
        flex-direction: column;
        gap: 10px;
    }
}

.second-row {
    width: 100%;
    min-height: 500px;
    background-color: white;
    box-sizing: border-box;
}

.col-1 img{
    max-width: 200px;
}


.news-section {
    background-color: white;
    text-align: center;
    padding-top: 70px;
}

.news-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.authors-info {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 20px;
}
.scroll-container {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 100px 100px;
}

.horizontal-scroll {
    display: flex;
    overflow-y: hidden;
    gap: 10px;
    width: 100%; 
}

.scroll-left, .scroll-right {
    background-color: rgba(231, 226, 226, 0.699);
    color: rgb(0, 0, 0);
    border-radius: 70px;
    border: 2px solid #b9b9b9;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
    z-index: 10;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.book-item {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.5s; 
}

.book-item:hover {
    transform: scale(1.05); 
}

.book-item img {
    height: 300px;
    width: 200px;
}

.shop-img-scroll-down{
     text-align: center;
     padding-top: 50px;
     margin-bottom: -30px;
}
.shop-img-scroll-down img{
    width: 150px;
}
/* Book shop ------------------------------------------------------------------------------------------------------------------- */ 
.product-container {
    background-color: rgba(255, 255, 255, 0.844);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 0 125px;
  }
  
  .product-card {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-tag {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: orange;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 4px;
  }
  
  .product-discount {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ff4d4d;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 4px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    max-height: 330px;
    object-fit: cover;
    
  }
  
  .product-title {
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .product-author,
  .product-genre {
    font-size: 12px;
    margin-top: -6px;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 16px;
    color: #333;
  }
  
  .original-price {
    font-size: 12px;
    color: #888;
    text-decoration: line-through;
  }

  .vat {
    font-size: 12px;
    margin: 9px ;

  }
  
  .add-to-cart {
    border: none;
    padding: 7px 24px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .add-to-cart {
    background-color: #ba4d2e;
    color: white;
  }
  
  
.favorite {
    width: 15%;    
    color: #ccc;  
    border: none; 
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
  }
  
  
  .favorite.favorited {
    color: red;  
    border-color: red; 
  }
  

  
.favorite i {
  font-size: 19px;
  color: #ccc;  
  transition: color 0.3s ease;
}


.favorite.favorited i {
  color: red;  
}


.favorite:hover i {
  transform: scale(1.1);  
  color: #ff6666;  
}


/* Contact Form - Kanita*/

.contact-container {
    width: 100%;
    background-color: #ba4d2e;
}