*{
    box-sizing: border-box;

}

body {
    background-image: url(./wallpaper/login-wallpaper2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
}

.footer-credit {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h1{
    font-weight: bold;
}

form {
    height: 100%;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}


form input {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

form button {
    max-width: 300px;
    width: 100%; 
    padding: 12px 45px;
    margin-top: 10px;
}


.login{
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
    width: 100%;
    height: 75%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap; 


}
.login-form, .login-img {
    flex: 1 1 300px; 
    min-width: 250px; 
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;    
}


.login-form a:hover{
    color: rgb(43, 32, 6);
}

.register{
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    height: 85%;
    width: 100%;
    max-width: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap; 
    flex-shrink: 1;


}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;  
    width: 100%;
}

.register-form a:hover{
    color: rgb(43, 32, 6);
}

.register-img {
    padding: 15px;
}

a {
    color: #1c5369;
    font-size: 14px;
    text-decoration: none;
    margin: 14px;
}
.not-link p {
    color: #947f19;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 0;
}

input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    max-width: 300px;
}

button, register-button{
    border-radius: 20px;
    border: 1px solid #6d2a2a00;
    background-color: #6d2a2a;
    color: #ffffff;
    font-size: 12PX;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition:  80ms ease-in;

}



button:hover{
    background-color: #974f4f;
}

.form-check {
    display:flex;
    align-items: center;
    font-size: 16px;
}

.form-check-input {
    max-width: 10px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #924444; 
}
.form-check-label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.valid-feedback {
    display: none; 
    font-size: 14px;
    color: green;
}

input:valid ~ .valid-feedback {
    display: block;
}

input:checked ~ .form-check-label {
    color: #4CAF50;
}


#role {
    width: 100%;
    max-width: 50%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

.success-message {
    background-color: #28a745;  
    color: white;                
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-content h2 {
    color: #4CAF50; 
}

.modal-content p {
    color: #555;
}





.social-icons{
    margin: 10px 0;
}

.social-icons a{
    border:1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 40px;
    width: 40px;
}

.social-icons a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.join-button{
    display: none;

}

@media (max-width: 800px) {
    .login,.register {
        flex-direction: column;  
        padding: 20px;
    }

    .login-form,.register-form {
        width: 100%;
        max-width: 90%;
        text-align: center;
    }

    .login-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login-img .login-text {
        display: none;  
    }

    .join-button,.register-button,.back-button{
        display: block;
        margin-top: 10px;
    }
}