*{
    box-sizing: border-box;

}

body {
    background-image: url(./wallpaper/25.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
}

.footer-credit {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

h1{
    font-weight: bold;
}



.login{
    
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    height: 68%;
    width: 100%;
    max-width: 800px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap; 


}
.login-form, .login-img {
    flex: 1 1 300px; 
    min-width: 250px; 
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
}
.login-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
}

.login-form a:hover{
    color: rgb(43, 32, 6);
}

.register{
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    height: 85%;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap; 
    flex-shrink: 1;


}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;  
    width: 100%;
    max-width: 300px;  
}

.register-form a:hover{
    color: rgb(43, 32, 6);
}

a {
    color: #b79b0f;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.not-link p {
    color: #947f19;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 0;
}

input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    max-width: 300px;
}

button, register-button{
    border-radius: 20px;
    border: 1px solid #ffd900;
    background-color: #d5b92d;
    color: #ffffff;
    font-size: 12PX;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition:  80ms ease-in;

}

.register-button{
    margin-top: 15px;
}

button:hover{
    background-color: #d4a555;
    color: rgb(85, 72, 2);
}


.social-icons{
    margin: 10px 0;
}

.social-icons a{
    border:1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 40px;
    width: 40px;
}

.social-icons a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.join-button{
    display: none;

}

@media (max-width: 800px) {
    .login,.register {
        flex-direction: column;  
        padding: 20px;
    }

    .login-form,.register-form {
        width: 100%;
        max-width: 90%;
        text-align: center;
    }

    .login-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login-img .login-text {
        display: none;  
    }

    .join-button,.register-button,.back-button{
        display: block;
        margin-top: 10px;
    }
}